<div class="items d-flex">
    <div class="card-fav">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar-bookmark" %>
      <% else %>
        <%= image_tag "https://i.pravatar.cc/150?img=13", class: "avatar-bookmark" %>
      <% end %>
      <h1> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h1>
      <p class="title">My favorite parks</p>
    </div>
    <div class="cards-index fav-park">
      <% @bookmarks.each do |bookmark| %>
        <div class="card-park card-park-fav">
          <% if bookmark.park.photos.attached? %>
            <%= cl_image_tag bookmark.park.photos.first.key %>
          <% else %>
            <%= cl_image_tag bookmark.park.key %>
          <% end %>
          <div class="card-park-infos">
            <% @rating = bookmark.park.calculate_average %>
            <%= render 'parks/rating' %>
            <div>
              <%=link_to bookmark.park.name, park_path(bookmark.park) %>
            </div>
             <div data-controller="like" data-like-target="link" data-park="<%= bookmark.park.id %>" data-bookmark="<%= Bookmark.find_by(user: current_user, park: bookmark.park).id if Bookmark.find_by(user: current_user, park: bookmark.park)%>">
                  <%= link_to bookmark_path(Bookmark.find_by(user: current_user, park: bookmark.park)), method: "delete", data: { action: "click->like#delete"}, bookmark: Bookmark.find_by(user: current_user, park: bookmark.park.id) do %>
                    <i class="fas fa-heart heart"></i>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>



