
<div class="items d-flex">
    <div class="card-fav">
      <%= cl_image_tag current_user.avatar.key, class: "avatar-bookmark" %>
      <h1> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h1>
      <p class="title">My favorite parks</p>
    </div>

    <div class="cards-index fav-park">
      <% @bookmarks.each do |bookmark| %>
        <div class="card-park card-park-fav">
          <%= cl_image_tag bookmark.park.photos.first.key if bookmark.park.photos.attached? %>
          <div class="card-park-infos">
            <div>
              <%=link_to bookmark.park.name, park_path(bookmark.park) %>
            </div>
            <%= link_to bookmark_path(bookmark),  method: :delete, data: {confirm: "Are your sure?"} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
       <% end %>
    </div>
</div>


