<div class="items d-flex">
    <div class="card-fav">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar-bookmark" %>
      <% else %>
        <%= image_tag "https://i.pravatar.cc/150?img=13", class: "avatar-bookmark" %>
      <% end %>
      <h1> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h1>
      <p class="title">My favorite parks</p>
      <p id="leaf-black">By <i class="fas fa-leaf leaf-black"></i> ParkN</p>
    </div>
    <div class="cards-index fav-park">
      <% @bookmarks.each do |bookmark| %>
        <div class="card-park card-park-fav">
          <% if bookmark.park.photos.attached? %>
            <%= cl_image_tag bookmark.park.photos.first.key %>
          <% else %>
            <%= cl_image_tag bookmark.park.key %>
          <% end %>
          <div class="card-park-infos">
            <% @rating = bookmark.park.calculate_average %>
            <%= render 'parks/rating' %>
            <div>
              <%=link_to bookmark.park.name, park_path(bookmark.park) %>
            </div>
             <div>
                  <%= link_to "bookmarks/#{bookmark.id}/d", method: :delete, data: { confirm: "Remove from favorites?" } do %>
                    <i class="fas full-heart fa-heart heart"></i>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>



