<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "park1.jpg" %>);">
  <div id="create" class="container create-form col-8 col-offset-5 bg-white py-5 px-5">
    <div id="create-form">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <div class="form_row">
                <%= f.input :first_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "first_name" }%>
                <%= f.input :last_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "last_name" }%>
            </div>
            
            <div class="form_row">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            </div>
            <%= f.input :avatar, as: :file %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>
    .form_row {
        display:flex;
        justify-content: space-between;
    }
    .form_row .form-group {
        width: 48%;
    }

    #create {
      top: -15%;
    }
  </style>