<div class="emoji-cards">
  <% @park_categories.sort_by(&:score).reverse.each do |park_category| %>
    <%= link_to '#', class: 'emoji-button', method: :post, remote: true, data: { controller: "counter", action: "click->counter#refresh"} do %>
      <% if current_user.votes.where(:park_category_id => park_category.id).empty? %>
        <div class="emoji-card" data-counter-target="button">
      <% else %>
        <div class="emoji-card-clicked">
      <% end %>
      <h3 class="emoji">
        <i class="fas fa-<%= park_category.category.emoji %>" title="<%= park_category.category.name.capitalize %>"></i>
      </h3>
      <div class="line"></div>
      <h3 class="counter" data-counter-target="count" data-category="<%= park_category.id %>" ><%= park_category.votes.count %></h3>
      </div>
    <% end %>
  <% end %>
</div>



