<div id="img-back"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "park1.jpg" %>);">
  <div id="create" class="container create-form col-8 col-offset-5 mt-5 bg-white py-5 px-5">
    <div id="create-form">
      <h2 id="form-title">edit a park</h2>
          <%= simple_form_for(@park) do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :region, :as => :select, :collection => Park::REGIONS %>
            <%= f.input :details %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.submit class: "btn btn-success w-100" %>
          <% end %>
    </div>
  </div>
</div>
