 <%= render 'shared/search' %>
<div class="container">
    <div class="cards-index">
      <% @parks.each do |park| %>
        <%= link_to park_path(park) do %>
        <div class="card-park">
          <%= cl_image_tag park.photos.first.key if park.photos.attached? %>
         <div class="card-park-infos">
          <div>
            <h2> <%= park.name %> </h2>
            <p> <%=park.details %> </p>
          </div>
          <h2 class="card-park-pricing"> <%= park.region %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-park-user avatar-bordered" />
         </div>
       </div>
       <% end %>
      <% end %>
    </div>
</div>
