<div class="container text-center pt-3">
  <h1><%= @park.name %></h1>
</div>
  <div class="show-container">
    <div>
    <div class="card-show">
      <% if @park.photos.attached? %>
        <%= cl_image_tag @park.photos.first.key %>
      <% else %>
        <%= cl_image_tag @park.key %>
      <% end %>
      <div class="card-show-infos">
        <div data-controller="like" data-like-target="link" data-park="<%= @park.id %>" data-bookmark="<%= Bookmark.find_by(user: current_user, park: @park).id if Bookmark.find_by(user: current_user, park: @park)%>">
          <% unless @favorite %>
              <i class="far fa-heart empty-heart" data-action="click->like#create"></i>
          <% else %>
              <i class="fas fa-heart full-heart" data-action="click->like#delete"  data-bookmark="<%= @bookmark.id %>"></i>
          <% end %>
        </div>
        <%= render 'rating' %>
        <%= render 'emoji' %>
        <div>
          <h3><%= @park.details %></h3>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add a review</button>
          <%= render 'reviews/modal' %>
        </div>
      </div>
    </div>
    <div class="review-container">
      <h1>Comments</h1>
      <% @reviews.each do |review| %>
        <div class="card-review">
          <div class="avatar-img">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar-review" %>
            <% else %>
              <%= image_tag "https://i.pravatar.cc/150?img=13", class: "avatar-review" %>
            <% end %>
          </div>
          <div class="card-review-text">
            <span id="review-name"> <%= review.user.first_name %> <%= review.user.last_name %> </span>
            <span id="review-time"> <%= review.created_at.strftime("%a %b %e") %> </span>
            <p> <%= review.content %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<% console %>
