<div class="container text-center pt-3">
  <h1><%= @park.name %></h1>
</div>
  <div class="show-container">
    <div>
    <div class="card-show">
      <% if @park.photos.attached? %>
        <%= cl_image_tag @park.photos.first.key %>
      <% else %>
        <img src="https://quickbutik.imgix.net/4582H/products/5bbc97e2b880c.png" />
      <% end %>
      <div class="card-show-infos">
        <%= link_to park_bookmarks_path(@park), method: "post" do %>
          <% if @favorite %>
            <i class="fas fa-heart"></i>
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <div class="emoji-cards">
          <% @park_categories.each do |park_category| %>
          <%= link_to '#', class: 'emoji-button', method: :post, remote: true, data: { controller: "counter", action: "click->counter#refresh"} do %>
            <div class="emoji-card">
              <h3 class="emoji">
                <i class="fas fa-<%= park_category.category.emoji %>" title="<%= park_category.category.name.capitalize %>"></i>
              </h3>
              <div class="line"></div>
              <h3 class="counter" data-counter-target="count" data-category="<%= park_category.id %>" ><%= park_category.votes.count %></h3>
            </div>
          <% end %>
          <% end %>
        </div>
        <div>
          <h3><%= @park.details %></h3>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add a review</button>
          <%= render 'reviews/modal' %>
        </div>
      </div>
    </div>
    <div class="review-container">
      <h1>Comments</h1>
      <% @reviews.each do |review| %>
        <div class="card-review">
          <div class="avatar-img">
            <%= cl_image_tag current_user.avatar.key, class: "avatar-review" %>
          </div>
          <div class="card-review-text">
            <span id="review-name"> <%= review.user.first_name %> <%= review.user.last_name %> </span> 
            <span id="review-time"> <%= review.created_at.strftime("%a %b %e") %> </span>
            <p> <%= review.content %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
