<div id="create" class="container create-form col-8 col-offset-5 mt-5 bg-white py-5 px-5">
  <h2><%= @park.name %></h2>
  <%= simple_form_for [@park, @review] do |f| %>
    <%= f.input :rating, collection: (1..5).to_a, label:false %>
    <%= f.input :content, label:"My comment" %>
    <%= f.submit "submit", class: "btn btn-success w-100" %>
  <% end %>
</div>
